<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/home.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>


<!--NavBar--->
 <div class="header" id="myheader">
  <a href="home">Home</a>
  <a href="interns">Interns</a>
  <a href="projects"  class="active">Projects</a>
  <a href="addintern">Add Intern</a>
  <a href="addproject">Add Project</a>
  <a href="assignproject">Assign Project to Intern</a>
  <a href="#" style="float:right; font-weight:bold">GNUKhata</a>
  <img src="images/logo.png" align="right"  width="50" height="50" padding="2px">
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

<div class="row">
  <div class="column">
  <div class="container-fluid row">

    <div style="width: 41vw; height: 75vh;margin: 2vh; margin-top: 6vh;overflow: auto;padding-left: 3vh; border:2px solid white;">

      <% results.forEach(function(result) {%>

      <div style="width: 38vw; height: 15vh; margin:5vh; margin-left: 0; border-radius: 2vh; border: 1px solid white;">
        
        <div class="row" style="padding: 0vh 3vh;">
          
          <div>
            <p style="color:#ffffff;font-size:18px"><strong>Project Id: </strong><%= result.projid %></p>

            <p style="color:#ffffff;font-size:18px"><strong>Project Name: </strong><%= result.projname %></p>
            
          </div>

          <div style="margin-left: 58vh; margin-top: -11vh;">
            <button type="button" class="btn btn-primary" onclick="showProject('<%= result.projid %>','<%= result.projname %>','<%= result.domaintype %>','<%= result.fullname %>')">View</button>
          </div>

        </div>

      </div>

      <% }); %>
        <div style="margin-bottom: 0vh; margin-left: 45vh;padding:4vh">
        <button type="button" onclick="window.location.href = 'addproject';"> Add new Project </button> 
        </div>
    </div>
    </div>
    </div>
  <div class="column">
      <div style="width: 45vw; height: 75vh; margin-left: 55vh; margin-top: 6vh; overflow: auto;border: 2px solid white;">
        <div >   
          <div style="margin: 5vh 5vh;">
            <p style="color:#ffffff;font-size:17px"><strong>Project Id: </strong><span id="projid"> Project Id</span></p>
            <p style="color:#ffffff;font-size:17px"><strong>Project Name: </strong><span id="projname"> Project Name</span></p>
            <p style="color:#ffffff;font-size:17px"><strong>Project Domain: </strong><span id="domaintype"> Project Domain</span></p>            
            <p style="color:#ffffff;font-size:17px"><strong>Interns Assigned: </strong><span id="fullname">Interns Assigned</span></p>      
        </div>
      </div>
    </div>
   </div>


<!--Footer--->
 <div class="footer" id="myfooter">
 <img src="images/logo.png" align="left"  width="50" height="50" padding="2px">
  <a href="#" style="float:right"> info@gnukhata.in</a>
  <a href="#" >Follow GNUKhata on </a>
  <a href="https://www.facebook.com/gnukhata" class="fa fa-facebook"></a>
  <a href="https://twitter.com/gnukhata_in" class="fa fa-twitter"></a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
<script src="/js/home.js"></script>
</body>
</html> 
